@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto',sans-serif;
}

.hero {
    max-height: 800px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    background-color: #1F2937;
    padding: 12px 12% 80px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.hlink , .subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 20px;
    text-decoration: none;
}

.maintext , .subtext {
    padding-right: 50px;
}

.subtext {
    margin: 0px;
    padding-bottom: 20px;
}

.headerbottom {
    display: flex;
    justify-content: space-between;
}

.maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

img {
    max-width: 625px;
    width: fit-content;
    height: auto;
}

button {
    background-color: #3882F6;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 20px;
}

button:active {
    transform: scale(98%);
}
/* Hero ends here */

.heading {
    margin: 50px 0px;
    font-size: 36px;
    font-weight: 900;
}

.centrearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 50px;
}

.boxes {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.box {
    width: 160px;
    height: 160px;
    border: 3px solid rgb(20, 87, 232);
    border-radius: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 63px;
    padding-top: 20px;
}

.boxtxt {
    width: 160px;
    height: 80px;
    text-align: center;
}

/* Quote area */

.quotesection {
    padding: 150px 18% 140px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
}

.quoter {
    text-align: right;
    font-weight: 800;
    font-size: 24px;
    padding-top: 10px;
    padding-right: 20px;
}

/* Call to action part */

.calltoaction {
    margin: 80px 13% 80px;
    background-color: #3882F6;
    color: #FFFFFF;
    padding: 50px 10%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.actbld {
    font-weight: 700;
    font-size: 20px;
}

.calltoaction button {
    border: 2px solid #FFFFFF;
}

/* Footer */

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 30px 0px;
}